In [6]:
#считывание данных из melb_data для работы с ними
import pandas as pd
student_data = pd.read_csv('student_data.csv', sep=',')
display(student_data)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [17]:
#средняя оценка за тест по чтению у студентов, проходивших подготовительный курс 
student_data[(student_data['test preparation course'] == 'completed')]['reading score'].mean()

73.89385474860335

In [30]:
#Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?
student_data['parental level of education'].value_counts(normalize=True)

some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: parental level of education, dtype: float64

In [31]:
#медианный балл по письму у студентов в расовой группе А
student_data[(student_data['race/ethnicity'] == 'group A')]['writing score'].median()

62.0

In [33]:
#Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?
(student_data[(student_data['race/ethnicity'] == 'group C')]['writing score'].mean()) -(student_data[(student_data['race/ethnicity'] == 'group A')]['writing score'].median())

5.827586206896555

In [34]:
#средний балл по письму у студентов в расовой группе C
student_data[(student_data['race/ethnicity'] == 'group C')]['writing score'].mean()

67.82758620689656

In [18]:
#количество студентов, сдавших экзмен по математике на 0
student_data[student_data['math score'] == 0].shape[0]

1

In [25]:
#оценка за экзамен по математике у студентов со льготными ценами на обеды не выше, чем у студентов, которые платят полную цену
(student_data[(student_data['lunch'] == 'free/reduced')]['math score'].mean())>(student_data[(student_data['lunch'] == 'standard')]['math score'].mean())

False

In [26]:
#оценка за экзамен по математике у студентов со льготными ценами на обеды
student_data[(student_data['lunch'] == 'free/reduced')]['math score'].mean()

58.92112676056338

In [24]:
#оценка за экзамен по математике у студентов с обычными ценами на обеды
student_data[(student_data['lunch'] == 'standard')]['math score'].mean()

70.03410852713178